
/*
 *	Tabs - Layout.
 */
.ui-tabs {
	margin:20px 0;
	float:left;
	width:96%;
	padding-right:20px;

}

ul.ui-tabs-nav {
	list-style:none;
	padding:8px 10px 0 10px;
	margin:0px;
	float:left;
	width:100%;
	margin-bottom: 0px !important;
}

ul.ui-tabs-nav li {
	float:left;
	padding:6px 10px;
	border: 1px solid #AAA;
	border-bottom:none;
	margin: 0 1px;
	font: bold 14px 'Arial', Sans-serif;
}

ul.ui-tabs-nav li a {
	text-decoration: none;
}

.ui-tabs-panel {
	float:left;
	width:100%;
	padding:10px;
	margin:0px;
}

div.tab-top-nav {
	display:block;
	margin-bottom: 30px;
}
div.tab-bottom-nav {
	display:block;
	margin-top: 5px;
}

/*
 *	Colors	
 */


ul.ui-tabs-nav {
	padding-left: 0px;
}

ul.ui-tabs-nav li:first-child {
	margin-left:0px;
}
ul.ui-tabs-nav li {
	background: #DADADA;
	position: relative;
	border-radius          : 2px 2px 0 0;
	-moz-border-radius     : 2px 2px 0 0;
	-webkit-border-radius  : 2px 2px 0 0;
	-o-border-radius       : 2px 2px 0 0;
	background: -moz-linear-gradient(top, #AAA, #DADADA);
	background: -webkit-gradient(linear, left top, left bottom, from(#AAA), to(#DADADA));
	background: -webkit-linear-gradient(top, #AAA, #DADADA);
	background: -o-linear-gradient(top, #AAA, #DADADA);

}

ul.ui-tabs-nav li a {
	color: #444;
	text-shadow: 0 1px 0 #FFF;
}

.ui-tabs-panel {
	background: #EEE;
	border: 1px solid #A9A9A9;
	margin-bottom: 10px;
	box-shadow         : 0 2px 8px #CDCDCD;
	-moz-box-shadow    : 0 2px 8px #CDCDCD;
	-webkit-box-shadow : 0 2px 8px #CDCDCD;
	-o-box-shadow      : 0 2px 8px #CDCDCD;
	border-radius          : 0 5px 5px 5px;
	-moz-border-radius     : 0 5px 5px 5px;
	-webkit-border-radius  : 0 5px 5px 5px;
	-o-border-radius       : 0 5px 5px 5px;
	background: -moz-linear-gradient(top, #EEE, #E1E1E1);
	background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#E1E1E1));
	background: -webkit-linear-gradient(top, #EEE, #E1E1E1);
	background: -o-linear-gradient(top, #EEE, #E1E1E1);
	text-shadow: 0 1px 0 #FFF;
	
}

ul.ui-tabs-nav li.ui-state-active {
	background: #EEE;
	border: 1px solid #A9A9A9;
	border-bottom: 0px;
	background: -moz-linear-gradient(top, #FFF, #EEE);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
	background: -webkit-linear-gradient(top, #FFF, #EEE);
	background: -o-linear-gradient(top, #FFF, #EEE);
	bottom:-1px;
}

p.submit {
	text-align:center;
	margin: 20px;
	clear:left;
}

p.submit input {
	margin:10px;
}



a.forward {
	float: right;
}

table.form-table tr td {
	position: relative;
}
table.form-table tbody tr {
	background: rgba( 255, 255, 255, 0.4);
	border-bottom: 1px solid #DDD;
}

table.form-table tbody tr.odd {
	background: rgba( 255, 255, 255, 0.3);
/*	border-bottom: 1px solid #DDD;*/
}

div.tab-bottom-nav {
/*	background: -moz-linear-gradient(top, #D5D5D5, #F1F1F1 );*/
	float:left;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 10px;
	padding:3px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
}

div.tab-bottom-nav a {
	background: #F1F1F1;
	padding:4px 6px;
	border: 1px solid #999;
	text-align:center;
	text-transform: capitalize;
	text-decoration: none;
	font: 14px 'Arial', sans-serif;
	color: #333;
	text-shadow: 0 1px 0 #FFF;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	box-shadow: 0 1px 1px #AAA;
	background: -moz-linear-gradient(top, #FFF, #E1E1E1);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E1E1E1));
	background: -webkit-linear-gradient(top, #FFF, #E1E1E1);
	background: -o-linear-gradient(top, #FFF, #E1E1E1);
}

div.tab-bottom-nav a:hover {
	background: -moz-linear-gradient(top, #EEE, #999);
	background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#999));
	background: -webkit-linear-gradient(top, #EEE, #999);
	background: -o-linear-gradient(top, #EEE, #999);
	color: #000;
	text-shadow: 0 1px 0 #EEE;
	
}
div.tab-bottom-nav a.backward {
	float:left;
}


p.switch-editors {
	margin-bottom: 4px;
	
}

p.switch-editors a {
    margin-right:4px;
	background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #D5D5D5;
    color: #999999;
    padding: 7px;
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
}

p.switch-editors a.active {
	background: #E8E8E8;
	color: #333;
}

#wpbody-content .wrap {
	padding: 10px;
	margin-top: 10px;
	border-radius          : 6px;
	-moz-border-radius     : 6px;
	-webkit-border-radius  : 6px;
	-o-border-radius       : 6px;
	width:960px;
}

div#wpui-cap {
    float: left;
	margin: 5px;
    width: 95%;
	background: #FFF;
	border:1px solid #EDEDED;
	border-radius: 4px;
	padding:10px;
}

div#wpui-cap .cap-icon {
    float: left;
    padding:10px;
    width: 100px;
}

div#wpui-cap .cap-icon img {
	width: 96px;
}

div#wpui-cap .wpui-desc {
    border-radius: 4px 4px 4px 4px;
    padding: 10px 10px 10px 120px;
}

div#wpui-cap .wpui-desc p {
	margin: 0px;
	margin-bottom: 6px;
}


#options-wrap {
	clear:left;
	max-width: 900px;
	margin: 0 auto;
}

a.cap-icon-link {
	display: none;
}

#wpcontent {
	padding-bottom: 0px;
}

#wpbody-content .wrap {
	
}

div.info-below {
/*	border: 1px solid #EDEDED;*/
/*	background: #FFF;*/
	float: left;
	width: 100%;
	border-radius          : 4px;
	-moz-border-radius     : 4px;
	-webkit-border-radius  : 4px;
	-o-border-radius       : 4px;
}

div#wpui-cap-below {
	float: left;
	width: 100%;
	margin: 5px;
}

div.cols {
/*	padding:10px;*/
	float:left;
	width: 30%;
	margin: 10px;
	min-height:190px;
	border: 1px solid #AAA;
	border-radius          : 5px;
	-moz-border-radius     : 5px;
	-webkit-border-radius  : 5px;
	-o-border-radius       : 5px;
	background: #F5F5F5;
	text-shadow: 0 1px 0 #FFF;
	box-shadow: 0 1px 3px #DDD;

}

div.cols h4 {
/*	text-align: center;*/
	margin-top: 0px;
	background: #AAA;
	padding: 7px;
	padding-left: 40px;
	border-radius          : 4px 4px 0 0;
	-moz-border-radius     : 4px 4px 0 0;
	-webkit-border-radius  : 4px 4px 0 0;
	-o-border-radius       : 4px 4px 0 0;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #AAA;
	text-shadow: 0 1px 0 #EEE;
	background: -moz-linear-gradient( top, #EAEAEA, #D2D2D2);
	margin-bottom: 0px;
}

div.cols ul {
/*	margin-left: 10px;*/
	text-align:center;
	float:left;
	width: 100%;
}

div.cols ul li {
/*	padding: 10px;
	background: #F2F2F2;
	margin:0px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #DADADA;*/
}

div.cols ul li a {
    clear: left;
    float: left;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 100%;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #DADADA;	
}

div.cols ul li.last-li a {
	border-bottom: 0px;
}

div.cols p {
    line-height: 1.5em;
    padding-bottom: inherit;
    padding-left: 10px;
    padding-right: 10px;
/*  padding-top: 5px;*/
}

div.help h4 {
	background: url("../images/icons/help.png") no-repeat 5px 50%, -moz-linear-gradient(top, #EAEAEA, #DADADA);
	background: url("../images/icons/help.png") no-repeat 5px 50%, -webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#DADADA));
	background: url("../images/icons/help.png") no-repeat 5px 50%, -webkit-linear-gradient(top, #EAEAEA, #DADADA);
	background: url("../images/icons/help.png") no-repeat 5px 50%, -o-linear-gradient(top, #EAEAEA, #DADADA);
}

div.support-plugin h4 {
	background: url("../images/icons/star.png") no-repeat 5px 50%, -moz-linear-gradient(top, #EAEAEA, #DADADA);
	background: url("../images/icons/star.png") no-repeat 5px 50%, -webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#DADADA));
	background: url("../images/icons/star.png") no-repeat 5px 50%, -webkit-linear-gradient(top, #EAEAEA, #DADADA);
	background: url("../images/icons/star.png") no-repeat 5px 50%, -o-linear-gradient(top, #EAEAEA, #DADADA);
}

div.wpui-new h4 {
	background: url("../images/icons/wand.png") no-repeat 5px 50%, -moz-linear-gradient(top, #EAEAEA, #DADADA);
	background: url("../images/icons/wand.png") no-repeat 5px 50%, -webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#DADADA));
	background: url("../images/icons/wand.png") no-repeat 5px 50%, -webkit-linear-gradient(top, #EAEAEA, #DADADA);
	background: url("../images/icons/wand.png") no-repeat 5px 50%, -o-linear-gradient(top, #EAEAEA, #DADADA);
}

div.developer h4 {
	background: url("../images/icons/devel.png") no-repeat 5px 50%, -moz-linear-gradient(top , #EAEAEA,  #DADADA);
	background: url("../images/icons/devel.png") no-repeat 5px 50%, -webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#DADADA));
	background: url("../images/icons/devel.png") no-repeat 5px 50%, -webkit-linear-gradient(top , #EAEAEA, #DADADA);
	background: url("../images/icons/devel.png") no-repeat 5px 50%, -o-linear-gradient(top , #EAEAEA, #DADADA);
}
	
div.wpui-credits h4 {
	background: url("../images/icons/smiley.png") no-repeat 5px 50%, -moz-linear-gradient(top , #EAEAEA,  #DADADA);
	background: url("../images/icons/smiley.png") no-repeat 5px 50%, -webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#DADADA));
	background: url("../images/icons/smiley.png") no-repeat 5px 50%, -webkit-linear-gradient(top , #EAEAEA, #DADADA);
	background: url("../images/icons/smiley.png") no-repeat 5px 50%,  -o-linear-gradient(top , #EAEAEA, #DADADA);
}


#optionsform {
	float: left;
	width: 700px;
}

div.info-below {
	float: left;
	width : 260px;
}

div#wpui-cap-below {
	margin-top: 50px;
}
div.cols {
	width: 259px;
}

/*div.click-for-help {
	background: url("../images/click-for-help.png") no-repeat scroll 0 0 transparent;
	height: 60px;
	position: absolute;
	right: 2px;
	top: 50px;
	width: 142px;
	display: none;
}
*/
p.submit input.button-primary {
	background: -moz-linear-gradient(top , #48D3FF,  #3294B2);
	background: -webkit-gradient(linear, left top, left bottom, from(#48D3FF), to(#3294B2));
	background: -webkit-linear-gradient(top , #48D3FF, #3294B2);
	background: -o-linear-gradient(top , #48D3FF, #3294B2);
	-moz-border-radius     : 30px;
	-webkit-border-radius  : 30px;
	-o-border-radius       : 30px;
	border-radius          : 30px;    background: -moz-linear-gradient(center top , #48D3FF, #3294B2) repeat scroll 0 0 transparent;
    padding: 8px;
    text-shadow: 0 -1px 0px #003;
	-moz-box-shadow    : 0px 1px 0 #94E5FF inset, 0px -1px 0 #48D3FF inset;
	-webkit-box-shadow : 0px 1px 0 #94E5FF inset, 0px -1px 0 #48D3FF inset;
	-o-box-shadow      : 0px 1px 0 #94E5FF inset, 0px -1px 0 #48D3FF inset;
	box-shadow         : 0px 1px 0 #94E5FF inset, 0px -1px 0 #48D3FF inset;
}
/*-moz-linear-gradient(center top , #94E5FF, #48D3FF) repeat scroll 0 0 transparent*/

p.submit input.button-primary:hover {
	background: -moz-radial-gradient(bottom, rgba(255, 255, 255, 0.7), rgba(255,255,255, 0)), -moz-linear-gradient(top , #48D3FF,  #2B7E99);
	background: -webkit-gradient(linear, left top, left bottom, from(#48D3FF), to(#2B7E99));
	background: -webkit-radial-gradient(bottom, rgba(255, 255, 255, 0.7), rgba(255,255,255, 0)),-webkit-linear-gradient(top , #48D3FF, #2B7E99);
	background: -o-linear-gradient(top , #48D3FF, #2B7E99);

}



p.submit input.button-secondary {
	background: -moz-linear-gradient(top , #FFF,  #E4E2E4);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E4E2E4));
	background: -webkit-linear-gradient(top , #FFF, #E4E2E4);
	background: -o-linear-gradient(top , #FFF, #E4E2E4);
	-moz-border-radius     : 30px;
	-webkit-border-radius  : 30px;
	-o-border-radius       : 30px;
	border-radius          : 30px;
    padding: 8px;
    text-shadow: 0 -1px 0px #003;
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	box-shadow: 0 -1px 0 #FFF inset;
}

p.submit input.button-secondary:hover {
	background: -moz-linear-gradient(top , #FFEBE8,  #B7A9A6);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFEBE8), to(#B7A9A6));
	background: -webkit-linear-gradient(top , #FFEBE8, #B7A9A6);
	background: -o-linear-gradient(top , #FFEBE8, #B7A9A6);
	color: red;
	border-color: red;
}

p.submit input:active {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6) inset;
}


.wpui-credits {
	border: 1px solid #AAA;
	border-radius          : 5px;
	-moz-border-radius     : 5px;
	-webkit-border-radius  : 5px;
	-o-border-radius       : 5px;
	background: #F5F5F5;
	text-shadow: 0 1px 0 #FFF;
	box-shadow: 0 1px 3px #DDD;
	clear:left;
	width: 700px;
}


.wpui-credits h4 {
/*	text-align: center;*/
	margin-top: 0px;
	background: #AAA;
	padding: 7px;
	padding-left: 40px;
	border-radius          : 4px 4px 0 0;
	-moz-border-radius     : 4px 4px 0 0;
	-webkit-border-radius  : 4px 4px 0 0;
	-o-border-radius       : 4px 4px 0 0;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #AAA;
	text-shadow: 0 1px 0 #EEE;
	background: -moz-linear-gradient(top , #EAEAEA,  #D2D2D2);
	background: -webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#D2D2D2));
	background: -webkit-linear-gradient(top , #EAEAEA, #D2D2D2);
	background: -o-linear-gradient(top , #EAEAEA, #D2D2D2);
	margin-bottom: 0px;
}

.wpui-credits p {
	padding: 10px;
}


.settings_page_wpUI-options #jqui_theme_list {
	margin: 10px 0;
}

.settings_page_wpUI-options .ui-dialog {
	background: url('../images/pattern.png') repeat #222;
	background: -moz-linear-gradient(top , #444,  #222);
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#222));
	background: -webkit-linear-gradient(top , #444, #222);
	background: -o-linear-gradient(top , #444, #222);
	background: rgba( 12, 12, 12, 0.8);
	ms-filter : progid:DXImageTransform.Microsoft.gradient( startColorStr='#444444', endColorStr='#222222');
	-moz-border-radius     : 10px;
	-webkit-border-radius  : 10px;
	-o-border-radius       : 10px;
	border-radius          : 10px;
	border:1px solid #000;
	-moz-box-shadow    : 1px 1px 0 #777 inset, -1px -1px 0 #555 inset, 0px 5px 15px #666;
	-webkit-box-shadow : 1px 1px 0 #777 inset, -1px -1px 0 #555 inset, 0px 5px 15px #666;
	-o-box-shadow      : 1px 1px 0 #777 inset, -1px -1px 0 #555 inset, 0px 5px 15px #666;
	box-shadow         : 1px 1px 0 #777 inset, -1px -1px 0 #555 inset, 0px 5px 15px #000;
	color: #FFF !important;
	text-shadow: 0 1px 0 #000;
}

.settings_page_wpUI-options .ui-dialog-titlebar {
	color: #999999;
	padding: 6px 10px;
	text-shadow: 0pt 1px 0pt #000000;
	text-transform : Uppercase;
	text-align : center;
}

.settings_page_wpUI-options .ui-dialog-titlebar:hover {
	cursor: move;
}

.settings_page_wpUI-options .ui-dialog-content {
	padding: 10px 20px;
}


.settings_page_wpUI-options .ui-dialog-titlebar-close {
	background: url("../images/modal-close.png") no-repeat;
	width: 35px;
	height: 35px;
	display: block;
	position: absolute;
	top: -16px;
	right: -15px;
	text-indent: -99999em;

}

.settings_page_wpUI-options .ui-dialog-content input,
.settings_page_wpUI-options .ui-dialog-content label {
	display : block;
	width: 100%;
	padding: 5px 0;
}

.settings_page_wpUI-options .ui-dialog-content input[type="text"] {
	opacity : 0.6;
}
.settings_page_wpUI-options .ui-dialog-content input[type="text"]:focus {
	opacity : 1;
	border: 1px solid #000;
	-moz-box-shadow    : 0 1px 5px #000;
	-webkit-box-shadow : 0 1px 5px #000;
	-o-box-shadow      : 0 1px 5px #000;
	box-shadow         : 0 1px 5px #000;
}



.settings_page_wpUI-options .ui-dialog-buttonset {
	text-align: center;
	margin: 0 0 5px 0;
}
	
.settings_page_wpUI-options .ui-button {
	background: -moz-linear-gradient(top , #F4F2F4,  #BBB);
	background: -webkit-gradient(linear, left top, left bottom, from(#48D3FF), to(#3294B2));
	background: -webkit-linear-gradient(top , #48D3FF, #3294B2);
	background: -o-linear-gradient(top , #48D3FF, #3294B2);
	-moz-border-radius     : 4px;
	-webkit-border-radius  : 4px;
	-o-border-radius       : 4px;
	border-radius          : 4px;
	padding: 4px 10px;
	color: #777 !important;
	text-shadow: 0 1px 0px #FFF;
	-moz-box-shadow    : 0px 1px 0 #FFF inset, 0px -1px 0 #FFF inset;
	-webkit-box-shadow : 0px 1px 0 #FFF inset, 0px -1px 0 #FFF inset;
	-o-box-shadow      : 0px 1px 0 #FFF inset, 0px -1px 0 #FFF inset;
	box-shadow         : 0px 1px 0 #FFF inset, 0px -1px 0 #FFF inset;
	border: 1px solid #000;
	margin: 10px;
	text-transform: uppercase;
	font-size: 12px;
	width: 75px;
}

.settings_page_wpUI-options .save-button {
	background: #48D3FF;
	background: -moz-linear-gradient(top , #48D3FF,  #3294B2);
	background: -webkit-gradient(linear, left top, left bottom, from(#48D3FF), to(#3294B2));
	background: -webkit-linear-gradient(top , #48D3FF, #3294B2);
	background: -o-linear-gradient(top , #48D3FF, #3294B2);
	-moz-border-radius     : 4px;
	-webkit-border-radius  : 4px;
	-o-border-radius       : 4px;
	border-radius          : 4px;
	   padding: 6px 10px;
	color: #FFF !important;
	   text-shadow: 0 -1px 0px #003;
	-moz-box-shadow    : 0px 1px 0 #94E5FF inset, 0px -1px 0 #48D3FF inset;
	-webkit-box-shadow : 0px 1px 0 #94E5FF inset, 0px -1px 0 #48D3FF inset;
	-o-box-shadow      : 0px 1px 0 #94E5FF inset, 0px -1px 0 #48D3FF inset;
	box-shadow         : 0px 1px 0 #94E5FF inset, 0px -1px 0 #48D3FF inset;
	border: 1px solid darkblue;
	margin: 10px;
	text-transform: uppercase;
	font-family: 'Arial', sans-serif;
}

.settings_page_wpUI-options .cancel-button {
	background: #C00;
	background: -moz-linear-gradient(top , #C00,  #900);
	background: -webkit-gradient(linear, left top, left bottom, from(#C00), to(#900));
	background: -webkit-linear-gradient(top , #C00, #900);
	background: -o-linear-gradient(top , #C00, #900);
	-moz-border-radius     : 4px;
	-webkit-border-radius  : 4px;
	-o-border-radius       : 4px;
	border-radius          : 4px;
	   padding: 6px 10px;
	color: #FFF !important;
	   text-shadow: 0 -1px 0 #200;
	-moz-box-shadow    : 0px 1px 0 #F00 inset, 0px -1px 0 #F00 inset;
	-webkit-box-shadow : 0px 1px 0 #F00 inset, 0px -1px 0 #F00 inset;
	-o-box-shadow      : 0px 1px 0 #F00 inset, 0px -1px 0 #F00 inset;
	box-shadow         : 0px 1px 0 #F00 inset, 0px -1px 0 #F00 inset;
	border: 1px solid #100;
	margin: 10px;
	text-transform: uppercase;
	font-family: 'Arial', sans-serif;
}

.settings_page_wpUI-options .save-button:hover {
	background: #41BEE5;
	background: -moz-linear-gradient(top , #41BEE5,  #369EBF);
	background: -webkit-gradient(linear, left top, left bottom, from(#41BEE5), to(#24697F));
	background: -webkit-linear-gradient(top , #41BEE5, #24697F);
	background: -o-linear-gradient(top , #41BEE5, #24697F);
}

.settings_page_wpUI-options .cancel-button:hover {
	background: #A00;
	background: -moz-linear-gradient(top , #A00,  #900);
	background: -webkit-gradient(linear, left top, left bottom, from(#A00), to(#900));
	background: -webkit-linear-gradient(top , #A00, #900);
	background: -o-linear-gradient(top , #A00, #900);
}


.settings_page_wpUI-options .cancel-button:active {
	background: #900;
	-moz-box-shadow    : 0px 2px 5px #100 inset;
	-webkit-box-shadow : 0px 2px 5px #100 inset;
	-o-box-shadow      : 0px 2px 5px #100 inset;
	box-shadow         : 0px 2px 5px #100 inset;	
}

.settings_page_wpUI-options .save-button:active {
	background: #369EBF;
	-moz-box-shadow    : 0px 2px 5px #123540 inset;
	-webkit-box-shadow : 0px 2px 5px #123540 inset;
	-o-box-shadow      : 0px 2px 5px #123540 inset;
	box-shadow         : 0px 2px 5px #123540 inset;
}


#jqui_theme_list table tbody tr td {
	background: #F4F2F4;
	position: relative;
	overflow : visible;

}

#jqui_theme_multiple, 
label[for="jqui_theme_multiple"] {
	margin: 10px 0;
	display: inline !important;
	width : auto !important;
	margin-right: 10px;
	text-align: center;
}

div.theme_add_notes ol {
	padding: 5px;
	background: #F00;
	list-style-position: inside;
	margin-left: 0px;
	-moz-border-radius     : 4px;
	-webkit-border-radius  : 4px;
	-o-border-radius       : 4px;
	border-radius          : 4px;
	background: rgba( 255, 0, 0, 0.7);
}


.settings_page_wpUI-options .ui-dialog-content label span {
	opacity: 0;
}

.settings_page_wpUI-options .ui-dialog-content label:hover span {
	opacity: 0.6;
}

a.jqui_theme_delete {
}

.settings_page_wpUI-options .action-delete-confirm {
    background: maroon;
    color: #FFF;
    text-transform: uppercase;
	padding: 2px 4px;
    font-size: 10px;
	text-shadow: 0 -1px 0 #700;
	background: -moz-linear-gradient(top , #F00,  #A00);
	background: -webkit-gradient(linear, left top, left bottom, from(#F00), to(#A00));
	background: -webkit-linear-gradient(top , #F00, #A00);
	background: -o-linear-gradient(top , #F00, #A00);
    border: 1px solid #800;
	-moz-border-radius     : 5px;
	-webkit-border-radius  : 5px;
	-o-border-radius       : 5px;
	border-radius          : 5px;
	-moz-box-shadow    : 1px 1px 0 #F00 inset, -1px -1px 0 #F00 inset;
	-webkit-box-shadow : 1px 1px 0 #F00 inset, -1px -1px 0 #F00 inset;
	-o-box-shadow      : 1px 1px 0 #F00 inset, -1px -1px 0 #F00 inset;
	box-shadow         : 1px 1px 0 #F00 inset, -1px -1px 0 #F00 inset;
	font-family: 'Arial', sans-serif;
	height: 18px;
	text-align : center;
}


.settings_page_wpUI-options .action-delete-cancel {
    background: blue;
    color: #FFF;
    text-transform: uppercase;
    padding: 2px 4px;
    font-size: 10px;
	text-shadow: 0 -1px 0 #24697F;
	background: -moz-linear-gradient(top , #48D3FF,  #3294B2);
	background: -webkit-gradient(linear, left top, left bottom, from(#48D3FF), to(#3294B2));
	background: -webkit-linear-gradient(top , #48D3FF, #3294B2);
	background: -o-linear-gradient(top , #48D3FF, #3294B2);
	-moz-border-radius     : 5px;
	-webkit-border-radius  : 5px;
	-o-border-radius       : 5px;
	border-radius          : 5px;
	color: #FFF !important;
	  text-shadow: 0 -1px 0px #24697F;
	-moz-box-shadow    : 0px 1px 0 #94E5FF inset, 0px -1px 0 #48D3FF inset;
	-webkit-box-shadow : 0px 1px 0 #94E5FF inset, 0px -1px 0 #48D3FF inset;
	-o-box-shadow      : 0px 1px 0 #94E5FF inset, 0px -1px 0 #48D3FF inset;
	box-shadow         : 0px 1px 0 #94E5FF inset, 0px -1px 0 #48D3FF inset;
	border: 1px solid #3294B2;
/*	font-family: 'Arial', sans-serif;*/
	height: 18px;
	text-align: center;
}

div#style .form-table th {
	width : 150px;
}

div#bleeding td {
	position : relative;
}

div#style table.widefat {
	width: 100%;
}
div#style table .column-name {
	width: 15%;
}

div#style table .column-manage {
	width: 10%;
}

div.jqui_ajax_info {
	margin : 10px 10px;
}

div.jqui_ajax_info span {
	-moz-border-radius     : 3px;
	-webkit-border-radius  : 3px;
	-o-border-radius       : 3px;
	border-radius          : 3px;
	-moz-box-shadow    : 1px 1px 0 #FFFFFF inset, -1px -1px 0 #FFFFFF inset;
	-webkit-box-shadow : 1px 1px 0 #FFFFFF inset, -1px -1px 0 #FFFFFF inset;
	-o-box-shadow      : 1px 1px 0 #FFFFFF inset, -1px -1px 0 #FFFFFF inset;
	box-shadow         : 1px 1px 0 #FFFFFF inset, -1px -1px 0 #FFFFFF inset;
    display: block;
    padding: 10px 20px;
    text-align: center;
}

div.jqui_ajax_info span.ajax_error {
	background-color: pink;
    border: 1px solid #D16587;
    color: maroon;
}

div.jqui_ajax_info span.ajax_success {
	background-color: lightgreen;
	color: darkgreen;
	border: 1px solid #00CC66;
/*	line-height: 31px;*/
}

div.jqui_ajax_info span.ajax_info {
    background-color: #AAF0FF;
    border: 1px solid #00529B;
    color: #00529B;
}

div.jqui_ajax_info span.ajax_info img {
	vertical-align:middle;
	margin-right : 10px;
}


.settings_page_wpUI-options #jqui_add_theme {
	float: right;
}

