/*
 *	Redmond.
 */

.ui-tabs {
	border-radius : 4px;
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
	-o-border-radius : 4px;
}

ul.ui-tabs-nav {
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}
.ui-tabs-panel {
	border-radius : 0 0 4px 4px;
	-moz-border-radius : 0 0 4px 4px;
	-webkit-border-radius : 0 0 4px 4px;
	-o-border-radius : 0 0 4px 4px;
}

.ui-tabs {
	background: -moz-linear-gradient(top, #BFCDDB, #D7E4F2 15%);
	background: -webkit-gradient(linear, left top, left bottom, from(#BFCDDB), color-stop(0.15, #D7E4F2), to(#D7E4F2));
	background: -webkit-linear-gradient(top, #BFCDDB, #D7E4F2 15%);
	background: -o-linear-gradient(top, #BFCDDB, #D7E4F2 15%);
	box-shadow: 0 3px 6px #666;
	-moz-box-shadow: 0 3px 6px #666;
	-webkit-box-shadow: 0 3px 6px #666;
	-o-box-shadow: 0 3px 6px #666;
	border: 1px solid #777;
	border-top: 2px groove #FFF;
}

.ui-tabs .ui-tabs-panel .wp-tab-content > .wp-tabs .ui-tabs {
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-o-box-shadow: none !important;
	border: 1px solid #666;
}

.ui-tabs-panel {
   	background: #FFF;
    text-shadow: 0 1px 0 #FFFFFF;
	color: #222;
	text-shadow: 0 1px 0 #EDEDED;
	border: 1px solid #838383;
/*	border-top: 1px solid #E2E2E2;*/
	z-index: 2;
	border-top: 1px solid #888;

}

ul.ui-tabs-nav {
/*	border-bottom: 1px solid #888;*/
	padding-top: 20px;
	background: none;
}

ul.ui-tabs-nav li {
	background: #EBEBEB;
    background: -moz-linear-gradient(top , #F2F2F2, #C2C2C2);
    background: -webkit-gradient(linear, left top, left bottom , from(#F2F2F2), to(#C2C2C2));
    background: -webkit-linear-gradient(top , #F2F2F2, #C2C2C2);
    background: -o-linear-gradient(top , #F2F2F2, #C2C2C2);
	border-radius          : 2px 2px 0 0;
	-moz-border-radius     : 2px 2px 0 0;
	-webkit-border-radius  : 2px 2px 0 0;
	-webkit-border-radius  : 2px 2px 0 0;
	border:1px solid #959595;
	border-left: 1px solid #959595;
	border-bottom: 0px;
	bottom: 0px;
	box-shadow: 0 -4px 2px #BBB inset;
	-moz-box-shadow: 0 -4px 2px #BBB inset;
	-webkit-box-shadow: 0 -4px 2px #BBB inset;
	-o-box-shadow: 0 -4px 2px #BBB inset;
	padding: 5px 0;
	margin-right:0px;
	height: 14px;
}

ul.ui-tabs-nav li a {
	color: #000;
	text-shadow: 0 1px 0 #FFF;
	padding:4px 10px;
	bottom: 0px;
	border-left: 1px solid #F4F4F4;
	font-weight: normal;
	font-family: 'Segoe UI', 'Verdana', 'Trabechut MS', sans-serif;
}

ul.ui-tabs-nav li:hover {
	border: 1px solid #3C7FB1;
	border-bottom:0px;
	background: -moz-linear-gradient(top, #FAFDFE, #D9F0FC 48%, #BCE5FC 49%, #A7D9F5);
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFDFE), color-stop(48%, #D9F0FC), color-stop(49%, #BCE5FC), to(#A7D9F5));
	background: -webkit-linear-gradient(top, #FAFDFE, #D9F0FC 48%, #BCE5FC 49%, #A7D9F5);
	background: -o-linear-gradient(top, #FAFDFE, #D9F0FC 48%, #BCE5FC 49%, #A7D9F5);
	-moz-box-shadow: 0 -4px 2px #7ACCFF inset;
	-webkit-box-shadow: 0 -4px 2px #7ACCFF inset;
	-o-box-shadow: 0 -4px 2px #7ACCFF inset;
	box-shadow: 0 -4px 2px #7ACCFF inset;
}


ul.ui-tabs-nav li.ui-state-active {
	background: #FFF;
	border: 1px solid #838383;
	bottom: -2px;
	border-bottom: 0px !important;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	height: 18px;
}

ul.ui-tabs-nav li.ui-state-active a {
	border-top: 1px solid #FFF;
}

.ui-tabs .ui-tabs-panel .wp-tab-content > .wp-tabs .ui-tabs ul li.ui-state-active {
	bottom: -2px;
}

.ui-tabs-panel .tab-top-nav a,
.ui-tabs-panel .tab-bottom-nav a {
	background: #D5D5D5;
	background: -moz-linear-gradient(top, #F2F2F2, #EEE 48%, #DDDDDD 49%, #CFCFCF);
	background: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2), color-stop(48%, #EEE), color-stop(49%, #DDDDDD), to(#CFCFCF));
	background: -webkit-linear-gradient(top, #F2F2F2, #EEE 48%, #DDDDDD 49%, #CFCFCF);
	background: -o-linear-gradient(top, #F2F2F2, #EEE 48%, #DDDDDD 49%, #CFCFCF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F2F2F2', endColorStr='#C2C2C2');
	border: 2px groove #FFF;
	text-shadow: 0 1px 0 #FFF;
	color: #000;
	border-radius          : 4px;
	-moz-border-radius     : 4px;
	-webkit-border-radius  : 4px;
	-webkit-border-radius  : 4px;
}

.ui-tabs-panel .tab-top-nav a:hover,
.ui-tabs-panel .tab-bottom-nav a:hover {
	background: -moz-linear-gradient(top, #FAFDFE, #D9F0FC 48%, #BCE5FC 49%, #A7D9F5);
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFDFE), color-stop(48%, #D9F0FC), color-stop(49%, #BCE5FC), to(#A7D9F5));
	background: -webkit-linear-gradient(top, #FAFDFE, #D9F0FC 48%, #BCE5FC 49%, #A7D9F5);
	background: -o-linear-gradient(top, #FAFDFE, #D9F0FC 48%, #BCE5FC 49%, #A7D9F5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FAFDFE', endColorStr='#A7D9F5');
}



/* Tabs at bottom */

ul.ui-tabs-nav.ul-bottom {
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 10px;
	border-bottom: 0px;
}

ul.ui-tabs-nav.ul-bottom li {
	vertical-align:top;
	border-radius: 0;
    background: -moz-linear-gradient(top , #F2F2F2, #C2C2C2);
    background: -webkit-gradient(linear, left top, left bottom , from(#F2F2F2), to(#C2C2C2));
    background: -webkit-linear-gradient(top , #F2F2F2, #C2C2C2);
    background: -o-linear-gradient(top , #F2F2F2, #C2C2C2);
	border-bottom: 1px solid #959595 !important;
	top:0px;
	border-top: 0px !important;
}


ul.ui-tabs-nav.ul-bottom li.ui-state-active {
	border: 1px solid #888 !important;
	background: #FFF;
	border-top: 0px !important;
	bottom: 0;
	top:	-1px;
	height: 19px;
	box-shadow         : 0px 2px 2px #AAA;
	-moz-box-shadow    : 0px 2px 2px #AAA;
	-webkit-box-shadow : 0px 2px 2px #AAA;
	-o-box-shadow      : 0px 2px 2px #AAA;
}

ul.ui-tabs-nav.ul-bottom li a ,
ul.ui-tabs-nav.ul-bottom li.ui-state-active a {
	background: none;
	border-top: 0px !important;
	border-left: 0px !important;
}




/*	Redmond accordions
 * ================================================================= */



.ui-accordion h3 {
	margin-bottom: 0px !important;
	margin-top: 2px !important;
	outline: 0;
}

.ui-accordion .ui-accordion-content {
	font: 12px/1.5 'Segoe UI', 'Lucida Grande', 'Arial', sans-serif;
	padding: 10px;
}


 .ui-collapsible-header,
.ui-accordion .ui-accordion-header {
	background: #D5D5D5;
	background: -moz-linear-gradient(top, #EBF4FE, #CFE4FE);
	background: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2), color-stop(48%, #EEE), color-stop(49%, #DDDDDD), to(#CFCFCF));
	background: -webkit-linear-gradient(top, #F2F2F2, #EEE 48%, #DDDDDD 49%, #CFCFCF);
	background: -o-linear-gradient(top, #F2F2F2, #EEE 48%, #DDDDDD 49%, #CFCFCF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F2F2F2', endColorStr='#C2C2C2');
	border: 1px solid #AAA;
	text-shadow: 0 1px 0 #FFF;
	color: #222;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	box-shadow: 0 1px 2px #AAA;
	-moz-box-shadow: 0 1px 2px #AAA;
	-webkit-box-shadow: 0 1px 2px #AAA;
	-o-box-shadow: 0 1px 2px #AAA;
	padding : 5px 10px;
	font: bold 14px 'Segoe UI', 'Lucida Grande', 'Arial', sans-serif;
}

.ui-collapsible-header:hover,
.ui-collapsible-header:hover {
	background: -moz-linear-gradient(top, #DCEBFC, #C1DBFC);
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFDFE), color-stop(48%, #D9F0FC), color-stop(49%, #BCE5FC), to(#A7D9F5));
	background: -webkit-linear-gradient(top, #FAFDFE, #D9F0FC 48%, #BCE5FC 49%, #A7D9F5);
	background: -o-linear-gradient(top, #FAFDFE, #D9F0FC 48%, #BCE5FC 49%, #A7D9F5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FAFDFE', endColorStr='#A7D9F5');
}

 .ui-collapsible-header.ui-state-active,
.ui-accordion .ui-accordion-header.ui-state-active {
	border-radius          : 4px 4px 0 0;
	-moz-border-radius     : 4px 4px 0 0;
	-webkit-border-radius  : 4px 4px 0 0;
	-webkit-border-radius  : 4px 4px 0 0;
	border-bottom:0px;
}

.ui-collapsible-content,
.ui-accordion .ui-accordion-content {
	background: white;
	color: #282828;
	border: 1px solid #AAA;
	box-shadow: 0 1px 2px #AAA;
	-moz-box-shadow: 0 1px 2px #AAA;
	-o-box-shadow: 0 1px 2px #AAA;
	-webkit-box-shadow: 0 1px 2px #AAA;

}

