
/*
 *	achu CSS3 additions to above simple theme
 */
.ui-tabs {
	border-radius : 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
	-o-border-radius : 5px;
	padding: 0px !important;
}

ul.ui-tabs-nav {
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}
.ui-tabs-panel {
	border-radius : 0 0 4px 4px;
	-moz-border-radius : 0 0 4px 4px;
	-webkit-border-radius : 0 0 4px 4px;
	-o-border-radius : 0 0 4px 4px;
}

.ui-tabs {
/*	background: -moz-linear-gradient( top, #EEE, #AAA);*/
	background: #151515;
	background: -moz-linear-gradient(top , #00A8C7, #20639A);
	background: -webkit-gradient(linear, left top, left bottom , from(#00A8C7), to(#20639A) );
	background: -webkit-linear-gradient(top , #00A8C7, #20639A);
	background: -o-linear-gradient(top, #00A8C7, #20639A);	
	box-shadow: 0 3px 6px #999;
	-moz-box-shadow: 0 3px 6px #999;
	-webkit-box-shadow: 0 3px 6px #999;
	-o-box-shadow: 0 3px 6px #999;
	border:1px solid #206299;
}

.ui-tabs .ui-tabs-panel .wp-tab-content > .wp-tabs .ui-tabs {
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-o-box-shadow: none !important;
}

.ui-tabs > .wp-tabs .ui-tabs {
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-o-box-shadow: none !important;
}

.ui-tabs-panel {
   	background: #00A8C7;
	background: -moz-linear-gradient(top , #00A8C7, #20639A);
	background: -webkit-gradient(linear, left top, left bottom , from(#00A8C7), to(#20639A));
	background: -webkit-linear-gradient(top , #00A8C7, #20639A);
	background: -o-linear-gradient(top , #00A8C7, #20639A);
    text-shadow: 0 1px 0 #FFFFFF;
	text-shadow: 0 1px 0 #000;
	border-top: 1px solid #00C9F0;
	color: #CCF0F0;
	border-radius          : 3px;
	-moz-border-radius     : 3px;
	-webkit-border-radius  : 3px;
	-o-border-radius       : 3px;
}

.ui-tabs-panel a,
.ui-tabs-panel h2,
.ui-tabs-panel h3, 
.ui-tabs-panel h4 {
	color: #FFF;
}

.ui-tabs-panel h2,
.ui-tabs-panel h3, 
.ui-tabs-panel h4 {
	color: #FFF !important;
}

ul.ui-tabs-nav {
	border-bottom: 1px solid #206299;
	background: #20639A;
	background: -moz-linear-gradient(top, #2A81C9, #20639A);
	background: -webkit-gradient(linear, left top, left bottom, from(#2A81C9), to(#20639A));
	background: -webkit-linear-gradient(top, #2A81C9, #20639A);
	background: -o-linear-gradient(top, #2A81C9, #20639A);
	padding-top: 10px;
/*	background:none;*/
	padding-left: 10px;
	-moz-box-shadow    : 0 1px 0 #30BCFF inset;
	-webkit-box-shadow : 0 1px 0 #30BCFF inset;
	-o-box-shadow      : 0 1px 0 #30BCFF inset;
	box-shadow         : 0 1px 0 #30BCFF inset;
}

ul.ui-tabs-nav li {
	background: #FEED69;
    background: -moz-linear-gradient(top , #FEED69, #62D790);
    background: -webkit-gradient(linear, left top, left bottom , from(#FEED69), to(#62D790));
    background: -webkit-linear-gradient(top , #FEED69, #62D790);
    background: -o-linear-gradient(top , #FEED69, #62D790);
	border-radius          :  2px 2px 0 0;
	-moz-border-radius     :  2px 2px 0 0;
	-webkit-border-radius  :  2px 2px 0 0;
	-o-border-radius       :  2px 2px 0 0;
	border-bottom: 1px solid #4A2F35;
	border-top: 1px solid #EBD4B0;
	height:14px;
	padding: 7px 0;
}

ul.ui-tabs-nav li a {
	color: #000;
	text-shadow: 0 1px 0 #FFF;
	padding:6px 10px;
}

ul.ui-tabs-nav li:hover {
	background: -moz-linear-gradient(top , #FEED69, #62D790 10%, #FEED69 85%, #62D790);
	background: -webkit-gradient(linear, left top, left top, from(#FEED69), to(#62D790), color-stop(0.2 #62D790), color-stop(0.85, #FEED69));
	background: -webkit-linear-gradient(top , #FEED69, #62D790 20%, #FEED69 85%, #62D790);
	background: -o-linear-gradient(top , #FEED69, #62D790 20%, #FEED69 85%, #62D790);
    
}

ul.ui-tabs-nav li.ui-state-active {
	background: #00A8C7;
	background: -moz-linear-gradient(top, #2A81C9, #00A8C7);
	background: -webkit-gradient(linear, left top, left bottom, from(#2A81C9), to(#00A8C7));
	background: -webkit-linear-gradient(top, #2A81C9, #00A8C7);
	background: -o-linear-gradient(top, #2A81C9, #00A8C7);
	border: 1px solid #444;
	border-bottom: 0px !important;
	bottom: -2px;
	height: 18px;
}

ul.ui-tabs-nav li.ui-state-active a {
	color: #EBD4B0;
	text-shadow: 0 1px 0 #000;
	border-top: 1px solid #30BCFF;
	border-radius          :  4px;
	-moz-border-radius     :  4px;
	-webkit-border-radius  :  4px;
	-o-border-radius       :  4px;
}


.ui-tabs-panel .tab-top-nav a,
.ui-tabs-panel .tab-bottom-nav a {
	background: #FEED69;
    background: -moz-linear-gradient(top , #FEED69, #62D790);
	background: -webkit-gradient(linear, left top, left bottom, from(#FEED69), to(#62D790));
	background: -webkit-linear-gradient(top, #FEED69, #62D790);
	background: -o-linear-gradient(top, #FEED69, #62D790);
	text-shadow: 0 1px 0 #EBD4B0;
	color: #000;
	border: 1px solid #1D522B;
	border-radius          :  4px;
	-moz-border-radius     :  4px;
	-webkit-border-radius  :  4px;
	-o-border-radius       :  4px;
	padding: 4px 8px;
}


.ui-tabs-panel .tab-top-nav a:hover,
.ui-tabs-panel .tab-bottom-nav a:hover {
	background: -moz-linear-gradient(top , #FEED69, #62D790 20%, #FEED69 95%, #62D790);
	background: -webkit-gradient(linear, left top, left top, from(#FEED69), to(#62D790), color-stop(0.2 #62D790), color-stop(0.9, #FEED69));
	background: -webkit-linear-gradient(top , #FEED69, #62D790 20%, #FEED69 95%, #62D790);
	background: -o-linear-gradient(top , #FEED69, #62D790 20%, #FEED69 95%, #62D790);
    
}


/* Tabs at bottom */
ul.ui-tabs-nav.ul-bottom {
	border-top: 1px solid #333 !important;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 10px;
	border-radius: 0 0 5px 5px;
	background: -moz-linear-gradient(top, #155287, #00A8C7);
	background: -webkit-gradient(linear, left top, left bottom, from(#155287), to(#00A8C7));
	background: -webkit-linear-gradient(top, #155287, #00A8C7);
	background: -o-linear-gradient(top, #155287, #00A8C7);
	border-top: 1px solid #888;
}

ul.ui-tabs-nav.ul-bottom li {
	vertical-align:top;
	border-radius: 0 0 5px 5px;
	background: -moz-linear-gradient(top, #459765, #FEED69);
	background: -webkit-gradient(linear, left top, left bottom, from(#459765), to(#FEED69));
	background: -webkit-linear-gradient(top, #459765, #FEED69);
	background: -o-linear-gradient(top, #459765, #FEED69);
	border-bottom: 1px solid #000;
	border-top: 0px;
	top:0px;	
}


ul.ui-tabs-nav.ul-bottom li.ui-state-active {
	border: 1px solid #2180D3;
	background: none;
	background: -moz-linear-gradient(top, #20639A, #155287);
	background: -webkit-gradient(linear, left top, left bottom, from(#20639A), to(#155287));
	background: -webkit-linear-gradient(top, #20639A, #155287);
	background: -o-linear-gradient(top, #20639A, #155287);	
	border-top: 0px;
	bottom: 0;
	top:	-1px;
	height: 18px;
	box-shadow         : 0 3px 3px #0B2B47;
	-moz-box-shadow    : 0 3px 3px #0B2B47;
	-webkit-box-shadow : 0 3px 3px #0B2B47;
	-o-box-shadow      : 0 3px 3px #0B2B47;	
}

ul.ui-tabs-nav.ul-bottom li.ui-state-active a {
	border-top: 0px;
}




/*
 *	Some content definitions for */

blockquote {
	border-bottom: 1px solid #206299;
	background: #62D790;
	background: -moz-linear-gradient(top, #FEED69 , #62D790);
	background: -webkit-gradient(linear, left top, left bottom, from(#FEED69), to(#62D790));
	background: -webkit-linear-gradient(top, #FEED69, #62D790);
	background: -o-linear-gradient(top, #FEED69, #62D790);
	text-shadow: 0 1px 0 #FFF;
	color: #000;
	border: 0px;
	border-radius          :  7px;
	-moz-border-radius     :  7px;
	-webkit-border-radius  :  7px;
	-o-border-radius       :  7px;
	margin:10px;
	position : relative;
	margin-bottom: 60px;
	box-shadow         : 0 1px 2px #4D522B inset;
	-moz-box-shadow    : 0 1px 2px #4D522B inset;
	-webkit-box-shadow : 0 1px 2px #4D522B inset;
	-o-box-shadow : 0 1px 2px #4D522B inset;
	padding-top: 5px;
	padding-bottom: 5px;
}

blockquote:before {
	content:"";
	position:absolute;
	bottom:-40px;
	left:50px;
	width:30px;
	height:30px;
	background: #62D790;
	background: -moz-linear-gradient(top, #FEED69 , #62D790);
	background: -webkit-gradient(linear, left top, left bottom, from(#FEED69), to(#62D790));
	background: -webkit-linear-gradient(top, #FEED69, #62D790);
	background: -o-linear-gradient(top, #FEED69, #62D790);
	border: 0px;
	/* css3 */
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-o-border-radius:30px;
	border-radius:30px;
	opacity: 0.95;
	box-shadow: 0 1px 2px #AAA inset;
}

/* creates the smaller circle */
blockquote:after {
	content:"";
	position:absolute;
	bottom:-60px;
	left:40px;
	width:15px;
	height:15px;
	background: #62D790;
	background: -moz-linear-gradient(top, #FEED69 , #62D790);
	background: -webkit-gradient(linear, left top, left bottom, from(#FEED69), to(#62D790));
	background: -webkit-linear-gradient(top, #FEED69, #62D790);
	background: -o-linear-gradient(top, #FEED69, #62D790);
	border: 0px;
	opacity: 0.82;
	/* css3 */
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	-o-border-radius:15px;
	border-radius          : 15px;
	-moz-border-radius     : 15px;
	-webkit-border-radius  : 15px;
	-o-border-radius       : 15px;
	box-shadow: 0 1px 2px #AAA inset;
}

blockquote p {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

blockquote p cite {
	text-shadow: 0 1px 0px #FFF;
}

table {
	background: -moz-linear-gradient(top, #2A81C9, #20639A);
	background: -webkit-gradient(linear, left top, left bottom, from(#2A81C9), to(#20639A));
	background: -webkit-linear-gradient(top, #2A81C9, #20639A);
	background: -o-linear-gradient(top, #2A81C9, #20639A);
	border: 1px solid #0F2F49 !important;
	border-collapse: separate !important;
	border-radius          :  4px;
	-moz-border-radius     :  4px;
	-webkit-border-radius  :  4px;
	-o-border-radius       :  4px;
}

tr th {
	border-collapse: separate !important;
	border-bottom: 1px solid #1D5889 !important;
	color: #FFF !important;	
}
tr td {
	border-collapse: separate !important;
	border: 0px !important;
	border-bottom: 1px solid #000333 !important;
	border-top: 1px solid #3E8DD6 !important;

}



.ui-accordion h3 {
	margin-bottom: 0px !important;
	margin-top: 2px !important;
	outline: 0;
}

.ui-accordion-content {
	font: 12px/1.5 'Segoe UI', 'Lucida Grande', 'Arial', sans-serif;
	padding: 10px;
}


.ui-collapsible-header,
.ui-accordion .ui-accordion-header {
   	background: #00A8C7;
	background: -moz-linear-gradient(top , #00A8C7, #20639A);
	background: -webkit-gradient(linear, left top, left bottom , from(#00A8C7), to(#20639A));
	background: -webkit-linear-gradient(top , #00A8C7, #20639A);
	background: -o-linear-gradient(top , #00A8C7, #20639A);
	text-shadow: 0 1px 0 #34A1FA;
	border-top: 1px solid #00C9F0;
	border: 1px solid #123755;
	color: #123655 !important;
	border-radius          : 3px;
	-moz-border-radius     : 3px;
	-webkit-border-radius  : 3px;
	-o-border-radius       : 3px;
	padding : 5px 10px;
	font: bold 14px 'Segoe UI', 'Lucida Grande', 'Arial', sans-serif;
}

.ui-collapsible-header:hover,
.ui-accordion .ui-accordion-header:hover {
	background: #FEED69;
    background: -moz-linear-gradient(top , #FEED69, #62D790);
	background: -webkit-gradient(linear, left top, left bottom, from(#FEED69), to(#62D790));
	background: -webkit-linear-gradient(top, #FEED69, #62D790);
	background: -o-linear-gradient(top, #FEED69, #62D790);
	text-shadow: 0 1px 0 #EBD4B0;
	border: 1px solid #3A5543;
	color: #275539 !important;
/*	color: #473C2B;*/
	text-shadow: 0 1px 0 #8AFABD;
}

.ui-collapsible-header.ui-state-active,
.ui-accordion .ui-accordion-header.ui-state-active {
	background: #FEED69;
    background: -moz-linear-gradient(top , #FEED69, #62D790);
	background: -webkit-gradient(linear, left top, left bottom, from(#FEED69), to(#62D790));
	background: -webkit-linear-gradient(top, #FEED69, #62D790);
	background: -o-linear-gradient(top, #FEED69, #62D790);
	text-shadow: 0 1px 0 #EBD4B0;
	border-radius          : 4px 4px 0 0;
	-moz-border-radius     : 4px 4px 0 0;
	-webkit-border-radius  : 4px 4px 0 0;
	-o-border-radius       : 4px 4px 0 0;
	border: 1px solid #3A5543;
	border-bottom: 0px;
	color: #275539 !important;
	text-shadow: 0 1px 0 #72FAA8;	
}

.ui-collapsible-content,
.ui-accordion .ui-accordion-content {
	background: #FFF;
	color: #282828;
	border: 1px solid #4F7155;
}
