@import "compass/utilities/general/clearfix";
@import "compass/css3";




span.glyphicon {
	background : url( "../images/glyphicons-white-additions.png" ) no-repeat;
	width : 14px;
	height : 14px;
	display : inline-block;
	background-position : 14px 14px;
	margin-right : 5px;
	vertical-align : text-top;
}


#wpwrap {
	background : url( ../images/paper.png ) repeat whitesmoke;
	#wpcontent {
		min-width : 850px;
	}
}

*+html { 
	#wpwrap {
		#wpcontent {
			min-width : 0px;
		}
	}
}

#wpui-banner-holder {
	margin-top : 30px;
	border-bottom: 4px solid #DDD;
	box-shadow: 0 1px 0 #FFF;
	@include legacy-pie-clearfix;
	#wpui-logo {
		float: left;
		font-size: 28px;
		padding: 0.5em;
		border-radius: 5px;
		margin : 0;
		a {
			color : #666;
			text-decoration : none;
			font-weight : bold
		}
		img {
			display : inline;
			vertical-align : text-top;
			margin-right : 10px;
			opacity : 0.4;			
		}
		// &:hover {
		// 	background: #E1E1E1;
		// }
	}

	ul.wpui-banner {
		float : right;
		list-style: none;
		background: #687189;
		@include background( linear-gradient(top , #6E7D90, #606080) );
		border: 1px solid #000;
		@include box-shadow(0 1px 0 #9FA4D6 inset, 0 -6px 0 #44465B inset);
		@include border-radius( 5px );
		margin : 0px;
		*height : 1%;	
		@include legacy-pie-clearfix;
		li {
			float : left;
			border-right : 1px solid #44465B;
			border-left : 1px solid #8F99BD;
			position:relative;
			&:hover {
				background : #4980b2;
				@include background( linear-gradient( top , #5290BC,  #4070A8 ));
			}
			a {
				padding: 1.1em 1.3em 1em 1.3em;
				text-transform: uppercase;
				text-decoration: none;
				color: #EEE;
				text-shadow: 0 1px 0 #000;
				display:block;
				&.toolbar-help,
				&.wpui_options_help {
					span {
						background-position : -96px -96px;
					}
				} // toolbar-help
				&.menu-tour {
					span {
						background-position : -72px -24px;
					}
				} // menu-tour
				&.menu-support span {
					background-position : -72px 0px;
				}
				&.toolbar-docs span {
					background-position : -48px -48px;
				}
				&.toolbar-forum span {
					background-position : -94px -166px;
				}
				&.toolbar-follow span,
				&.menu-facebook span {
					background-position : -96px -144px;
				}
				&.menu-vote span {
					background-position : -120px 0;
				}
				&.menu-twitter span {
					background-position : -24px -166px;
				}
				&.toolbar-git span {
					background-position : -48px -166px;
				}

			}
			// &.first,
			// &.first:hover {
			// 	background : black;
			// 	background : rgba(0,0,0,0.5);
			// 	background: -moz-linear-gradient(bottom , #373E48,  #303040);
			// 	background: -webkit-gradient(linear, left top, left bottom, from(#373E48), to(#303040));
			// 	background: -webkit-linear-gradient(top , #373E48, #303040);
			// 	background: -ms-linear-gradient(top , #373E48, #303040);
			// 	background: -o-linear-gradient(top , #373E48, #303040);
			// 	position:relative;
			// 	border-radius: 5px 0 0 5px;
			// 	box-shadow: 0 1px 0 #777 inset, 0 -6px 0 #0D0D0D inset;
			// 	padding-left : 20px;
			// 	border-left : 0px;
			// 	margin-bottom : 0;
			// 	a {
			// 	    font-size: 24px;
			// 	    font-weight: bold;
			// 		text-shadow: 0 1px 0 #666666;
			// 	    padding: 0.7em 1em 0.8em 1.3em;
			// 		position: relative;
			// 		span { display : none; }
			// 		img {
			// 			position : absolute;
			// 			top : -10px;
			// 			left : -40px;
			// 		}
			// 	}			
			// }
			
			// donate
			&.donate {
				// float : right;
				background : orange;
				@include background(linear-gradient(top , #F5BD12, #F0980B) );
				@include box-shadow( 0 1px 0 #FFF inset, 0 -6px 0 #b77407 inset);
				@include border-radius( 5px 0 0 5px );
				margin-bottom : 0px;
				border-left: none;
				a {
					color : #000;
					text-shadow : 0 1px 0 yellow;
					padding : 1.2em 1.5em 1.4em;
					&.toolbar-donate span {
						background-position : -24px -120px;
					}		
				}
				
							
			} // Last
			ul.wpui-submenu {
				position : absolute;
				background : #687189;
				width: 14em;
				margin-left : 0;
				z-index: 10000;
				left: 0;
			/*	top: 100%;*/
				top : -100em;
				opacity : 0;
				// top : 0; 
				box-shadow: 0 1px 0 #9FA4D6 inset, 0 2px 8px rgba( 0,0,0,0.7);
				border : 1px solid #44465B;
				@include border-radius( 5px );
				.wpui-transition & {
					// top : 0;
					@include transform( rotateY( 180deg ) );
					
					@include transition( 0.4s ease-in 0.4s );
					
				}

				&:after {
				    content : "";
				    position : absolute;
				    background : none;
				    border-width : 0px 10px 10px 10px;
				    border-color : transparent transparent #687189 transparent;
				    border-style : solid;
				    top : -9px;
				    left: 1em;
				}
				li {
					display:block;
					margin : 0px;
					float : none;
					border-top : 1px solid #9FA4D6;
					border-top : 1px solid rgba( 255, 255, 255, 0.4 );
					border-bottom : 1px solid #44465b;
					border-bottom : 1px solid rgba(0, 0, 0, 0.4 );
					
					&:hover {
						@include box-shadow(0 1px 0 #67B8F0 inset, 0 -1px 0 #28476B inset );
					}
					a {
						font-size : 12px;
					}
				} // menu list item
			} // wpui-submenu
			
			&:hover {
				ul.wpui-submenu {
					top : 100%;
					opacity : 1;
					.wpui-transition & {
						@include transform( rotateY( 0deg ) );
					
					}
								
				}
			} // Ul.submenu on hover
			
			
			&.donate {
				ul.wpui-submenu {
					// left: -8em;
					text-align: center;
					width: 18em;
					line-height : 21px;
					li {
						padding : 10px;
						color : #FFF;
						font-size : 12px;
						text-shadow : 0 1px 0 #000;
						a {
							padding: 0.5em;
							span { display:none; }
						}
					}
				}

				
			}
			
			&.no-hover {
				padding : 20px;
				span.glyphicon {
					background-position : -96px 0px;
				
				}
			}

			
		} // li - listitem 


		
	}


}



// Tabs


#optionsform {
	width : 100%;
	float : left;
	clear: left;
	margin-right : -280px;
	#options-wrap {
		// float : left;
		margin-right : 300px;
	}
	.ui-tabs {
		margin:20px 0;
		// float:left;
		background : none;
		padding : 0px;	
		.ui-tabs-hide {
			// display : block;
		    position: absolute;
		    left: -10000px;
		}
		ul.ui-tabs-nav {
			list-style:none;
			padding:8px 10px 0 10px;
			margin:0px;
			// float:left;
			width:100%;
			margin-bottom: 0px !important;
			text-align : center;
			li {
				border: 1px solid #AAA;
				border-bottom:none;
				margin: 0 1px;
				font: bold 14px 'Arial', Sans-serif;
				display : inline-block;
				*display : inline;
				*zoom : 1;
				
				// Styling
				
				padding : 0.5em 0;
				background: #DADADA;
				position: relative;
				@include border-radius( 2px 2px 0 0 );
				@include background( linear-gradient(top, #AAA, #DADADA) );
				cursor: pointer;
				
				a {
					color: #444;
					text-shadow: 0 1px 0 #FFF;
					padding : 0.5em 0.8em;
					outline : none;
					cursor : pointer;
					text-decoration : none;
				
				}
				
				&.ui-state-active {
					// background : #ebe9ec;
					background : #E6E3E7;
					border: 1px solid #A9A9A9;
					border-bottom: 0px;
					bottom : -1px;
					
				}
			} // li.
		}	// UL.ui-tabs-nav

		div.ui-tabs-panel-wrapper {
			background : whiteSmoke;
			border : 1px solid #cecece;
			.ui-tabs-panel {
				background : #E6E3E7;
				text-shadow: 0 1px 0 #FFF;
				
			}
		
		}


	
		.wpui-borderimage & {
			ul.ui-tabs-nav {
				position : relative;
				bottom : -6px;
				li {
					&.ui-state-active {
						bottom:-6px;
					
					}
				}
			}
			
			div.ui-tabs-panel-wrapper {
				background : none;
				border-width : 16px 6px 6px 6px !important;
				border-style : solid;
				border-color : transparent;
				@include border-image( url( "../images/border-top.png" ) 20 6 6 6 fill stretch stretch);
				overflow : hidden;
				width : 100%;			
		
			}			
		
		}
			

	
		div.tab-top-nav {
			display:block;
			margin-bottom: 30px;
		}
		div.tab-bottom-nav {
			display:block;
			margin-top: 5px;
		}
		p.submit {
			text-align:center;

			clear:left;
			input {
				margin:10px;
				// font-size : 14px;
				// @include box-sizing( content-box );
				// padding : 0.5em 1em;
				// &.button-primary {
				// 	@include background(linear-gradient(top, #6e7d90,#606080));
				// 	border-color : #000;
				// 	&:hover {
				// 		@include background(linear-gradient(to bottom,#2a95c5,#21759b));
				// 		border-color : #21759b;
				// 	}
				// }
			}
		}
	
	}
	
	.credits-box {
		// font-size : 14px;
		line-height : 21px;
		color : #777;
		.credits-wrapper {
			padding:10px; margin:10px;
		}
		h4 {
			background : #CACACA;
			background : rgba( 0, 0, 0, 0.1 );
			text-align : center;
			padding : 10px;
			text-shadow : 0 1px 0 #FFF;
			@include border-radius( 4px );
		}	
		ul {
			li {
				background : #DDD;
				@include background( linear-gradient(top , #F9F9F9, #DADADA) );
				padding: 0.4em 0.6em;
				margin: 0px;
				border: 1px solid #AAA;
				@include box-shadow( 0 1px 0 white inset, 0 1px 3px rgba(0, 0, 0, 0.3) );
				text-shadow : 0 1px 0 #FFF;
				a { text-decoration : none; }
			}
		}
	}
	

}



#wpui-options-sidebar {
	float : left;
	width : 280px;
	margin-top : 30px;
	.wpui-columns {
		@include clearfix;
		background : #E4E2E4;
		border : 1px solid #DEDEDE;
		@include box-shadow( 0 3px 10px rgba( 0, 0, 0, 0.3) );
		.wpui-borderimage & {
			background : none;
			border-width : 6px 6px 16px 6px !important;
			@include box-shadow( none );
			border-style : solid;
			border-color : transparent;
			@include border-image( url( "../images/border-bottom.png" ) 6 6 20 6 fill stretch stretch);
			margin : 20px 0;
		}
		h4 {
			font-size: 14px;
			margin: 0px;
			// text-align: center;
			color: #444;
			text-shadow: 0 1px 0 #FFF;
			font-weight: normal;
			border-bottom: 1px solid #AAA;
			// padding: 0.4em 0 0.8em;
			padding : 0.8em;
			@include box-shadow(0 1px 0 #FFF);
			// font-style : italic;
			// font-family : "Palatino Linotype","Book Antiqua",Palatino,FreeSerif,serif;
			// overflow : hidden;
			// color : #000;
			// text-shadow : 0 1px 0 #9fa4d6;
			color : #DDD;
			text-shadow : 0 -1px 0 #000;
			background : #687189;
			@include background( linear-gradient(top, #6e7d90,#606080) );
			@include legacy-pie-clearfix;
		}
		p {
			line-height : 21px;
			padding : 10px;
		}
		div.accplus-banner {
			a {
				display: block;
				position: relative;
				width: 246px;
				height: 106px;
				margin: 10px;
				overflow : hidden;
				span {
					position: absolute;
					top : 246px;
					left: 0;
					z-index: 1000;
					background: rgba(0, 0, 0, 0.4);
					height: 26px;
					width: 226px;
					vertical-align: middle;
					display: inline-block;
					padding: 40px 10px;
					color: white;
					text-shadow: 0 1px 0 black;
					font-size: 24px;
					text-align: center;
					// -moz-transition : all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.2s;
					@include transition( all 0.3s ease-in 0.1s );
				}
			}
			&:hover {
				span {
					top : 0;
				}
			}
		}
		ul {
			text-align:center;
			// float:left;
			width: 100%;
			margin : 0px;
			margin-left : 0px;
			// @include legacy-pie-clearfix;
			li {
				margin-bottom : 0px;
				a {
					padding: 0.8em 0;
					text-decoration: none;
					width: 100%;
					border-bottom: 1px solid #AAA;
					border-top: 1px solid #FFF;
					color: #777;
					text-shadow: 0 1px 0 #FFF;
					display: block;
					&:hover {
						// color : #E04C88;
						background : #4980b2;
						@include background( linear-gradient( top , #5290BC,  #4070A8 ));
						color : #FFF;
						text-shadow : 0 1px 0 #000
					}
				}
				&:last-child a {
					border-bottom : 0px;
				}
			}
		}
		
		&.acc-plus {
			h4 span {
				background-position : -432px -144px;
			}
		}		
		&.support-plugin {
			h4 span {
				background-position : -96px 0px;
			}
		}
		&.help {
			h4 span {
				background-position : -168px 0px;
			}
		}
		
	}
	
}

// Form 
table.form-table {
	margin : 0;
	border-collapse : separate;
	border-spacing : 0px;
	tr {
		border-top : 1px solid #FFF;
		border-bottom : 1px solid #CECECE;
		// display:block;
		&:nth-child(even) {
			background : rgba( 245, 245, 245, 0.4 );
		}
		th {
			@include box-shadow( 0 1px 0 #FFF inset );
			
			border-bottom : 1px solid #CECECE;			
		}
		td {
			@include box-shadow( 0 1px 0 #FFF inset );
			border-bottom : 1px solid #CECECE;
			position: relative;
			padding : 15px;
		}		
		&:first-child {
			th, td {
				@include box-shadow( none );
			}
			border-top : 0px;
		}
		&:last-child {
			th, td {
				border-bottom : 2px groove #FFF;
			}
		}
	}

	// tbody tr {
	// 	border-bottom: 1px solid #DDD;
	// 
	// }

}


div.option-field.option-multiple {
	.encloser-before {
			display : inline-block;
			margin-right : 15px;
			min-width : 120px;
		}
		.encloser-after {
			min-height : 10px;
		}
		br {
			display : none;
		}

}





.wpui-new-feature {
	text-transform: uppercase;
	background: red;
	font-size: 10px;
	color: white;
	text-shadow: 0 -1px 0 #000;
	padding: 3px;
	margin: 3px;
	@include border-radius( 3px );
	@include box-shadow( 0 1px 0 #000);
}



div.jqui_ajax_info {
	margin : 10px 10px;
	span {
		-moz-border-radius     : 3px;
		-webkit-border-radius  : 3px;
		-o-border-radius       : 3px;
		border-radius          : 3px;
		-moz-box-shadow    : 1px 1px 0 #FFFFFF inset, -1px -1px 0 #FFFFFF inset;
		-webkit-box-shadow : 1px 1px 0 #FFFFFF inset, -1px -1px 0 #FFFFFF inset;
		-o-box-shadow      : 1px 1px 0 #FFFFFF inset, -1px -1px 0 #FFFFFF inset;
		box-shadow         : 1px 1px 0 #FFFFFF inset, -1px -1px 0 #FFFFFF inset;
	    display: block;
	    padding: 10px 20px;
	    text-align: center;
		&.ajax_error {
			background-color: pink;
			border: 1px solid #D16587;
			color: maroon;
		}
		&.ajax_success {
			background-color: lightgreen;
			color: darkgreen;
			border: 1px solid #00CC66;
			ol {
				background : green;
				color : #FFF;
				text-shadow: 0 1px 0 #030;

			}
		/*	line-height: 31px;*/
		}
		&.ajax_info {
		    background-color: #AAF0FF;
		    border: 1px solid #00529B;
		    color: #00529B;
			ol {
				background : #02c;
				color : #FFF;
				text-shadow: 0 1px 0 #002;

			}
			img {
				vertical-align:middle;
				margin-right : 10px;
			}
		}		
		
		
	}
	
}

.settings_page_wpUI-options #jqui_add_theme {
	float: right;
}


a.thickbox.cboxElement {
	background: #F4F2F4;
	display: block;
	padding: 5px;
	color: #666;
	text-decoration: none;
	@include box-shadow(0 -1px 0 #FFF inset, 0 1px 0 #FFF inset, 0 1px 0 #DDD);
	margin :10px 10px 10px 140px;

	img.wpui-uploaded-image {
		display : inline;
		vertical-align : middle;
		border: 1px solid #DDD;
		margin-right: 10px;
	}	
}




.ui-dialog {
	background: url('../images/cpattern.png') repeat #222;
	background: rgba( 12, 12, 12, 0.8);
	@include border-radius( 4px );
	border:1px solid #000;
	@include box-shadow( 1px 1px 0 #444 inset, -1px -1px 0 #333 inset, 0 3px 12px rgba( 0, 0, 0, 0.3 ) );
	color: #FFF !important;
	text-shadow: 0 1px 0 #000;
	.ui-dialog-titlebar {
		color: #FFF;
		padding: 6px 10px;
		text-shadow: 0pt 1px 0pt #000;
		text-transform : uppercase;
		text-align : center;
		cursor : move;
		.ui-dialog-titlebar-close {
			background: url("../images/modal-close.png") no-repeat;
			width: 35px;
			height: 35px;
			display: block;
			position: absolute;
			top: -16px;
			right: -15px;
			text-indent: -99999em;
		}
	}
	.ui-dialog-content {
		padding: 10px 20px;
		ol {
			list-style : decimal inside none;
			margin : 0;
			padding : 5px;
			@include border-radius( 3px );
			li {
				margin-top : 5px;
				margin-bottom : 5px;
			}
			
		}
		code {
			background : #131313;
			color : #DDD;
			text-shadow : 0 1px 0 #000;
		}
		input {
			display : block;
			width: 100%;
			padding: 5px 0;
			&[type="text"] {
				opacity : 0.6;
				&:focus {
					opacity : 1;
					border: 1px solid #000;
					@include box-shadow( 0 1px 5px #000 );
				}
			}
			input[type="checkbox"],
			label[for="checkbox"] {	display : inline;	width: auto; }
		
			
		
		}
		
		form {
			fieldset {
				label {
					span {
						opacity : 0;
					
					}
					&:hover {
						span { opacity : 1; }
					}
				}
				.check_styles_lists {
					color : #999;
					line-height : 18px;
					li.checkbox-holder {
					    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
					    border: 1px solid #555555;
					    @include border-radius( 3px );
					    @include box-shadow( 0 1px 3px #000000);
					    float: left;
					    margin: 0.2em;
					    min-width: 145px;
					    padding: 5px 10px;
						color : #DDD;
						
						&.ui-state-disabled {
							opacity : 0.4;
						}
						input[type="checkbox"] {
							display : inline;
							margin-right : 10px;
							width : auto;
						}
					}
				}
			
			}
		}
				
		
	}

	.ui-resizable-e {
		top : 15px !important;
		height : 94% !important;
	}

	.ui-resizable-n {
		right : 15px !important;
		width : 94% !important;
	}
	.ui-resizable-ne {
		display : none !important;
	}
	.ui-dialog-buttonset {
		text-align: center;
		margin: 0 0 5px 0;
	}	
	.ui-button {
		@include background( linear-gradient(top , #48D3FF, #3294B2) );
		@include border-radius( 4px );
		padding: 4px 10px;
		color: #777 !important;
		text-shadow: 0 1px 0px #FFF;
		@include box-shadow( 0px 1px 0 #FFF inset, 0px -1px 0 #FFF inset );
		border: 1px solid #000;
		margin: 10px;
		text-transform: uppercase;
		font-size: 12px;
		width: 75px;
		&.save-button {
			background: #48D3FF;
 			@include background( linear-gradient(top , #48D3FF,  #3294B2) );
			@include border-radius( 4px );
		   padding: 6px 10px;
			color: #FFF !important;
		   text-shadow: 0 -1px 0px #003;
		   @include box-shadow( 0px 1px 0 #94E5FF inset, 0px -1px 0 #48D3FF inset );
			border: 1px solid darkblue;
			margin: 10px;
			text-transform: uppercase;
			font-family: 'Arial', sans-serif;
			:hover {
				background: #41BEE5;
				@include background( linear-gradient(top , #41BEE5,  #369EBF) );
			}
		}
		&.cancel-button {
			background: #C00;
			@include background( linear-gradient(top , #C00,  #900) );
			@include border-radius(  4px );
		   padding: 6px 10px;
			color: #FFF !important;
		   text-shadow: 0 -1px 0 #200;
		   @include box-shadow(  0px 1px 0 #F00 inset, 0px -1px 0 #F00 inset );
			border: 1px solid #100;
			margin: 10px;
			text-transform: uppercase;
			font-family: 'Arial', sans-serif;
			&:hover {
				background: #A00;
				@include background( linear-gradient(top , #A00,  #900) );
			}
		}
	}
	
}

.contextual-help-tabs-wrap {
	.button-secondary {
		float : right;
	}
}



div#style {
	.form-table th {
		width : 150px;
	}
	table.widefat {
		width: 100%;
		word-wrap : break-word;
		table-layout : fixed;
	}
	table .column-name {
		width: 15%;
	}
	table .column-manage {
		width: 10%;
	}
}


#jqui_theme_list {
	margin: 10px 0;
	table {
		tbody {
			tr td {
				background: #F4F2F4;
				position: relative;
				overflow : visible;
			}
		}
	}
	.action-delete-confirm {
	    background: maroon;
	    color: #FFF;
	    text-transform: uppercase;
		padding: 2px 4px;
	    font-size: 10px;
		text-shadow: 0 -1px 0 #700;
		@include background( linear-gradient(top , #F00, #A00) );
	    border: 1px solid #800;
		@include border-radius( 5px );
		@include box-shadow( 1px 1px 0 #F00 inset, -1px -1px 0 #F00 inset );
		font-family: 'Arial', sans-serif;
		height: 18px;
		text-align : center;
	}
	.action-delete-cancel {
	    background: blue;
	    color: #FFF;
	    text-transform: uppercase;
	    padding: 2px 4px;
	    font-size: 10px;
		text-shadow: 0 -1px 0 #24697F;
		@include background( linear-gradient(top , #48D3FF, #3294B2) );
		@include border-radius( 5px );
		color: #FFF !important;
		  text-shadow: 0 -1px 0px #24697F;
		@include box-shadow( 0px 1px 0 #94E5FF inset, 0px -1px 0 #48D3FF inset);
		border: 1px solid #3294B2;
	/*	font-family: 'Arial', sans-serif;*/
		height: 18px;
		text-align: center;
	}
}



div.ui-widget-overlay,
div#TB_overlay,
#cboxOverlay {
	background : url( "../images/pattern-gray.png" );
	background: url("../images/pattern-gray.png"), rgba( 0, 0, 0, 0.4 );
	background: -webkit-linear-gradient( top left, rgba(0, 0, 0, 0.5), rgba(32, 32, 32, 0.1), rgba(0, 0,0, 0.5) ),-webkit-linear-gradient( top right, rgba(0, 0, 0, 0.5), rgba(68, 68, 68, 0.2), rgba(0, 0, 0, 0.5) ), url("../images/pattern-gray.png");
	background: -moz-linear-gradient( top left, rgba(0, 0, 0, 0.5), rgba(32, 32, 32, 0.1), rgba(0, 0,0, 0.5) ),-webkit-linear-gradient( top right, rgba(0, 0, 0, 0.5), rgba(68, 68, 68, 0.2), rgba(0, 0, 0, 0.5) ), url("../images/pattern-gray.png");
	background: -o-linear-gradient( top left, rgba(0, 0, 0, 0.5), rgba(32, 32, 32, 0.1), rgba(0, 0,0, 0.5) ),-webkit-linear-gradient( top right, rgba(0, 0, 0, 0.5), rgba(68, 68, 68, 0.2), rgba(0, 0, 0, 0.5) ), url("../images/pattern-gray.png");
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;margin: 0px !important;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/*
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
/*#cboxOverlay{background:url(../images/colorbox/overlay.png) repeat 0 0;}*/
#colorbox{}
/*    #cboxTopLeft{width:21px; height:21px; background:url(../images/colorbox/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(../images/colorbox/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(../images/colorbox/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(../images/colorbox/controls.png) no-repeat -130px -29px;}*/
/*    #cboxMiddleLeft{width:21px; background:url(../images/colorbox/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(../images/colorbox/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(../images/colorbox/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(../images/colorbox/border.png) 0 -29px repeat-x;}*/
    #cboxContent{background:#fff; border : 10px solid #FFF; border-radius: 3px;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; top:0px; left:0;color:#949494; background: #FFF;  text-shadow: 0 1px 0 #FFF; }
		#cboxTitle span { padding : 10px; display : inline-block; }
        #cboxCurrent{position:absolute; top:4px; left:58px; color:#949494;}
/*        #cboxSlideshow{position:absolute; top:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; top:0; left:0; background:url(../images/colorbox/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; top:0; left:27px; background:url(../images/colorbox/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}*/
        #cboxLoadingOverlay{background:url(../images/colorbox/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(../images/colorbox/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; top: -15; right:-15pxf; background:url(../images/colorbox/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
		#cboxClose { background: url("../images/modal-close.png") no-repeat; width: 35px; height: 35px;
			display: block; position: absolute; top: -28px; right: -26px; text-indent: -99999em; }
/*        #cboxClose:hover{background-position:-25px -25px;}*/

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}


/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
.cboxIE6 #cboxTopLeft{background:url(../images/colorbox/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(../images/colorbox/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(../images/colorbox/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(../images/colorbox/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(../images/colorbox/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(../images/colorbox/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(../images/colorbox/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(../images/colorbox/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}




// 
// #optionsform.d3 {
// 	@include perspective( 450 );
// }
// 
// 
// #optionsform.nond3 #options-wrap {
// 	margin-right : 150px;
// }
// 
// #optionsform.d3 #options-wrap {
// 
// 	@include transform( rotateY( 22deg ) );
// 	@include transform-origin( 0, false, false, false );
// 	@include transition( 0.4s ease-in-out );
// }
// 
// #wpui-options-sidebar.d3 {
// 	@include perspective( 450 );
// 	
// }
// 
// #wpui-options-sidebar.d3 #wpui-options-sidebar-wrap {
// 	@include transform( rotateY( -67deg ) );
// 	@include transition( 0.4s ease-in-out );
// 	@include transform-origin( 80%, false, false, false );
// 	
// }