@import "compass/utilities/general/clearfix";
@import "compass/css3";


body {
	// background : red !important;
	
}


.wpui-widget-left {
// .wpui-base-widget-options {
	.wpui-widget-input-group {
		// display : inline-block;
		// width:100px;
		// text-align : center;
		label {
			display : block;
			margin : 5px 0;
	
		}
		&:nth-child(2),
		&:nth-child(3) {
			display : inline-block;
		}
	}
	float : left;
	width : 150px;
	margin-left : 10px;
	// background : red;
}


.wpui-clearer {
	clear :both;
	
}


.wpui-widget-right {
	// background : green;
	float: left;
	width: 430px;
	margin-left: 10px;
	input {
		&.wpui-search-field {
			width : 230px;
		}
		&.wpui-search-number {
			width  : 30px;
		}
	}
	position : relative;
}


.widget-search-actions {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: black;
	background : rgba( 0,0,0,0.4 );
	color: #FFF;
	text-shadow : 0 1px 0 #000;
	font-size : 16px;
	@include border-radius( 4px );
	span {
		display:block;
		margin : 120px 0;
		text-align : center;
		a.widget-search-action {
			margin : 10px;
		}
	}
}


.widget-search-results {
	background : #FFF;
	border : 1px solid #DEDEDE;
	height : 185px;
	margin : 0 5px 5px;
	overflow : auto;
	position : relative;
	ul {
		list-style : none;
		li {
			border-bottom : 1px solid #F1F1F1;
			padding : 4px 6px;
			position : relative;
			cursor : pointer;
			margin-bottom : 0;
			&.selected {
				background : #DDD;
			}
			a {
				text-decoration : none;
				text-shadow : 0 1px 0 #FFF;
				display : block;
				overflow : hide;
				color : #666;
				padding : 0.3em;
				span {
					float: right;
					background: #DEDEDE;
					padding: 2px 6px;
					@include border-radius( 10px );
					color: #777;
					margin-right : 10px;
					text-shadow: 0 -1px 0 #FFF;
				}
			}
			
		}
	}
}



p.wpui-widget-warning {
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.wpui-editors {
	margin : 10px;
	.ui-tabs {
		ul.ui-tabs-nav {
			list-style : none;
			text-align : center;
			margin : 0px;
			position : relative;
			bottom : -2px;
			li {
				display : inline-block;
				margin-right : 5px;
				margin-bottom : 0px;
				padding : 5px 0;
				// position : relative;
				// bottom : -1px;
				a {
					padding : 5px 1em;
					background : #DEDEDE;
					border: 1px solid #CECECE;
					color : #666;
					text-shadow : 0 1px 0 #FFF;
					border-bottom : none;
					text-decoration : none;
					@include box-shadow( 0 1px 0 #EEE inset );
					outline : 0;
				}
				&.ui-state-active {
					a {
						background : #F4F2F4;
						border-bottom : none;
						@include box-shadow( 0 1px 0 #FFF inset );
						
					}
				}
			}
		}
		.ui-tabs-panel {
			background : #F4F2F4;
			border : 1px solid #CECECE;
			padding : 10px;
			label {
			    display: block;
			     margin: 5px;
			}
			// textarea {
			// 	width : 100%;
			// }
		}
	}
	
}