/*	wpui Achu for IE.
 *========================================================= */

.wpui-achu {
  .ui-tabs, .ui-tabs-panel {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A8C7', endColorStr='#20639A');
  }
  .ui-collapsible-header, .ui-accordion .ui-accordion-header {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A81C9', endColorStr='#20639A');
  }
  ul.ui-tabs-nav {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A81C9', endColorStr='#20639A');
    li {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEED69', endColorStr='#62D790');
      &:hover {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEED69', endColorStr='#62D790');
      }
    }
  }
  .ui-collapsible-header:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEED69', endColorStr='#62D790');
  }
  .ui-accordion .ui-accordion-header {
    &:hover, &.ui-state-active {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEED69', endColorStr='#62D790');
    }
  }
  .ui-collapsible-header.ui-state-active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEED69', endColorStr='#62D790');
  }
  .ui-tabs-panel {
    .tab-top-nav a, .tab-bottom-nav a {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEED69', endColorStr='#62D790');
    }
  }
  ul.ui-tabs-nav {
    li.ui-state-active {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A81C9', endColorStr='#00A8C7');
    }
    &.ul-bottom li.ui-state-active {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A8C7', endColorStr='#2A81C9');
    }
  }
  .ui-collapsible-header, .ui-accordion .ui-accordion-header {
    color: #FFF !important;
  }
}

/*	wpui Dark for IE.
 *========================================================= */

.wpui-dark {
  .ui-tabs {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorStr='#000000');
  }
  .ui-tabs-panel {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorStr='#181818');
  }
  .ui-collapsible-header, .ui-accordion .ui-accordion-header {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#151515', endColorStr='#333333');
  }
  ul.ui-tabs-nav {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#151515', endColorStr='#333333');
    li {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorStr='#777777');
      &:hover {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorStr='#777777');
      }
    }
  }
  .ui-collapsible-header:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorStr='#777777');
  }
  .ui-accordion .ui-accordion-header {
    &:hover, &.ui-state-active {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorStr='#777777');
    }
  }
  .ui-collapsible-header.ui-state-active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorStr='#777777');
  }
  .ui-tabs-panel {
    .tab-top-nav a, .tab-bottom-nav a {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorStr='#777777');
    }
  }
  ul.ui-tabs-nav li.ui-state-active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorStr='#444444');
  }
}

/*	wpui light for IE.
 *========================================================= */

.wpui-light {
  .ui-tabs {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorStr='#D1D1D1');
  }
  .ui-tabs-panel, .ui-collapsible-header, .ui-accordion .ui-accordion-header {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorStr='#D1D1D1');
  }
  ul.ui-tabs-nav {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorStr='#D1D1D1');
    li {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA', endColorStr='#DADADA');
      &:hover {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA', endColorStr='#DADADA');
      }
    }
  }
  .ui-collapsible-header:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA', endColorStr='#DADADA');
  }
  .ui-accordion .ui-accordion-header {
    &:hover, &.ui-state-active {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA', endColorStr='#DADADA');
    }
  }
  .ui-collapsible-header.ui-state-active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA', endColorStr='#DADADA');
  }
  .ui-tabs-panel {
    .tab-top-nav a, .tab-bottom-nav a {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA', endColorStr='#DADADA');
    }
  }
  ul.ui-tabs-nav li.ui-state-active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorStr='#EEEEEE');
  }
}

/*	wpui cyaat9 for IE.
 *========================================================= */

.wpui-cyaat9 {
  .ui-tabs, .ui-tabs-panel, .ui-collapsible-header, .ui-accordion .ui-accordion-header {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C9D0DE', endColorStr='#9EA4AD');
  }
  ul.ui-tabs-nav {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C9D0DE', endColorStr='#9EA4AD');
    li {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9AA6B0', endColorStr='#71757F');
      &:hover {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9AA6B0', endColorStr='#71757F');
      }
    }
  }
  .ui-collapsible-header:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9AA6B0', endColorStr='#71757F');
  }
  .ui-accordion .ui-accordion-header {
    &:hover, &.ui-state-active {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9AA6B0', endColorStr='#71757F');
    }
  }
  .ui-collapsible-header.ui-state-active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9AA6B0', endColorStr='#71757F');
  }
  .ui-tabs-panel {
    .tab-top-nav a, .tab-bottom-nav a {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9AA6B0', endColorStr='#71757F');
    }
  }
  ul.ui-tabs-nav li.ui-state-active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D5DCEB', endColorStr='#C9D0DE');
  }
}

/*	wpui macish for IE.
 *========================================================= */

.wpui-macish {
  .ui-tabs {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorStr='#999999');
  }
  .ui-tabs-panel {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D0D0D0', endColorStr='#A7A7A7');
  }
  .ui-collapsible-header, .ui-accordion .ui-accordion-header {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA', endColorStr='#999999');
  }
  ul.ui-tabs-nav {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA', endColorStr='#999999');
    li {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CACACA', endColorStr='#A0A0A0');
      &:hover {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CACACA', endColorStr='#A0A0A0');
      }
    }
  }
  .ui-collapsible-header:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CACACA', endColorStr='#A0A0A0');
  }
  .ui-accordion .ui-accordion-header {
    &:hover, &.ui-state-active {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CACACA', endColorStr='#A0A0A0');
    }
  }
  .ui-collapsible-header.ui-state-active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CACACA', endColorStr='#A0A0A0');
  }
  .ui-tabs-panel {
    .tab-top-nav a, .tab-bottom-nav a {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CACACA', endColorStr='#A0A0A0');
    }
  }
  ul.ui-tabs-nav li.ui-state-active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5E5E5', endColorStr='#D0D0D0');
  }
}

/*	wpui quark for IE.
 *========================================================= */

.wpui-quark {
  .ui-tabs, .ui-tabs-panel {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6E4A40', endColorStr='#4A2F35');
  }
  .ui-collapsible-header, .ui-accordion .ui-accordion-header {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8F675B', endColorStr='#6E4A40');
    color: #EBD4B0 !important;
  }
  ul.ui-tabs-nav {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorStr='#111111');
    li {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBC6A4', endColorStr='#C7A777');
      color: #593C34 !important;
      &:hover {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBC6A4', endColorStr='#C7A777');
        color: #593C34 !important;
      }
    }
  }
  .ui-collapsible-header:hover .wpui-quark .ui-accordion .ui-accordion-header:hover, .ui-accordion .ui-accordion-header.ui-state-active, .ui-collapsible-header.ui-state-active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBC6A4', endColorStr='#C7A777');
    color: #593C34 !important;
  }
  .ui-tabs-panel {
    .tab-top-nav a, .tab-bottom-nav a {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBC6A4', endColorStr='#C7A777');
      color: #593C34 !important;
    }
  }
  ul.ui-tabs-nav li.ui-state-active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8F675B', endColorStr='#6E4A40');
  }
}

/*	wpui redmond for IE.
 *========================================================= */

.wpui-redmond {
  .ui-tabs {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorStr='#F2F2F2');
  }
  .ui-tabs-panel {
    background: #FFF;
  }
  ul.ui-tabs-nav li, .ui-collapsible-header, .ui-accordion .ui-accordion-header, ul.ui-tabs-nav li:hover, .ui-collapsible-header:hover, .ui-accordion .ui-accordion-header:hover, .ui-collapsible-header.ui-state-active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F2F2F2', endColorStr='#C2C2C2');
  }
  .ui-tabs-panel {
    .tab-top-nav a, .tab-bottom-nav a {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F2F2F2', endColorStr='#C2C2C2');
    }
  }
  .ui-accordion .ui-accordion-header.ui-state-active, ul.ui-tabs-nav li:hover, .ui-collapsible-header:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FAFDFE', endColorStr='#D9F0FC');
  }
  .ui-accordion .ui-accordion-header {
    &:hover, &.ui-state-active {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FAFDFE', endColorStr='#D9F0FC');
    }
  }
  .ui-collapsible-header.ui-state-active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FAFDFE', endColorStr='#D9F0FC');
  }
  .ui-tabs-panel {
    .tab-top-nav! a, .tab-bottom-nav! a {}
  }
  ul.ui-tabs-nav li.ui-state-active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', endColorStr='#FFFFFF');
  }
}

/*	wpui sevin for IE.
 *========================================================= */

.wpui-sevin {
  .ui-tabs {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorStr='#F2F2F2');
  }
  .ui-tabs-panel {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#E7EDF6', endColorStr='#CFDBEC');
  }
  ul.ui-tabs-nav li, .ui-collapsible-header, .ui-accordion .ui-accordion-header {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#DCEFF1', endColorStr='#C9D0DE');
  }
  ul.ui-tabs-nav li:hover, .ui-collapsible-header:hover, .ui-accordion .ui-accordion-header:hover, .ui-collapsible-header.ui-state-active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F2F2F2', endColorStr='#C2C2C2');
  }
  .ui-tabs-panel {
    .tab-top-nav a, .tab-bottom-nav a {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F2F2F2', endColorStr='#C2C2C2');
    }
  }
  .ui-accordion .ui-accordion-header.ui-state-active, ul.ui-tabs-nav li:hover, .ui-collapsible-header:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FAFDFE', endColorStr='#C9D0DE');
  }
  .ui-accordion .ui-accordion-header {
    &:hover, &.ui-state-active {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FAFDFE', endColorStr='#C9D0DE');
    }
  }
  .ui-collapsible-header.ui-state-active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FAFDFE', endColorStr='#C9D0DE');
  }
  .ui-tabs-panel {
    .tab-top-nav a, .tab-bottom-nav a {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#E0E6F0', endColorStr='#C3CDDC');
    }
  }
  ul.ui-tabs-nav li.ui-state-active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FCFDFE', endColorStr='#E7EDF6');
  }
}

/*	wpui android for IE.
 *========================================================= */

.wpui-android {
  .ui-tabs {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorStr='#D1D1D1');
  }
  .ui-tabs-panel {
    background: #080808;
  }
  .ui-collapsible-header, .ui-accordion .ui-accordion-header {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E7E7E7', endColorStr='#B5B5B5');
  }
  ul.ui-tabs-nav {
    background: #949494;
    li {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E7E7E7', endColorStr='#B5B5B5');
    }
  }
  .ui-accordion .ui-accordion-header.ui-state-active, .ui-collapsible-header.ui-state-active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E7E7E7', endColorStr='#B5B5B5');
  }
  .ui-tabs-panel {
    .tab-top-nav a, .tab-bottom-nav a {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E7E7E7', endColorStr='#B5B5B5');
    }
  }
  ul.ui-tabs-nav li:hover, .ui-collapsible-header:hover, .ui-accordion .ui-accordion-header:hover {
    border: 1px solid #FFBA39;
  }
  ul.ui-tabs-nav li.ui-state-active:hover {
    border: 1px solid #A2A2A2;
  }
  .ui-collapsible-header.ui-state-active:hover, .ui-accordion .ui-accordion-header.ui-state-active:hover {
    border: 1px solid #A2A2A2;
    border-bottom: 0px;
  }
  ul.ui-tabs-nav li.ui-state-active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5E5E5', endColorStr='#BABABA');
  }
}

/* TODO - UI-Safle IE to be with CSS3 PIE */
