.DS_Store
.svn
svn-prop.tmp
*.orig
.tm_properties
*.log
*.sql
*.sqlite
*.zip
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.tm_properties
sass
.sass-cache
config.rb
*backup*
languages
.watchme
.tm_properties
