/*
 *	Hide the non-active tabs
 */
.ui-tabs-hide {
	display:none;
}
/*
.ui-tabs ul,
.ui-tabs ol {
	margin : 0px !important;
	padding : 0px !important;
}*/

/*
 *	Tabs - Layout.
 */
.wp-tabs .ui-tabs {
	padding:5px;
	margin:20px 0;
}


ul.ui-tabs-nav {
	list-style:none;
	margin-bottom: 0px !important;
	margin-top: 0px;
/*	padding: 0px !important;*/
/*	text-align:center;
	margin: 0 auto;*/ 
}

ul.ui-tabs-nav li {
	border-bottom:none;
	font: bold 14px 'Arial', Sans-serif;
	display:inline-block;
	vertical-align:bottom;
	padding: 8px 0;
	margin-left:0px;
	*display: inline;
	zoom:1;

}

ul.ui-tabs-nav li a {
	text-decoration: none;
	border-bottom:none;
	padding: 8px 12px;
}

.ui-tabs-panel {
	padding: 10px;
}

div.tab-top-nav {
	display:block;
	margin-bottom : 5px;

}
div.tab-bottom-nav {
	display:block;
	margin-top: 5px;
}


/*
 *	Most simple style.
 */

.ui-tabs {
	background: white;
	border: 1px solid #AAA;
}

.ui-tabs-panel {
	background: white;
/*	border-top: 1px solid #D5D5D5;*/

}

ul.ui-tabs-nav {
	background : #DDD;
	border-bottom: 1px solid #D1D1D1;
	padding-left : 0px;
	margin: 0em;
}
ul.ui-tabs-nav li {
	background: #AAA;
	position: relative;
	bottom : -1px;
	margin-right: 2px;
	outline: 0;
}

ul.ui-tabs-nav li.ui-state-active {
	background: white;
	border: 1px solid #D5D5D5;
	border-bottom:0px;
	
}

ul.ui-tabs-nav li a {
	color: #FFF;
	text-shadow: 0 -1px 0 #868686;
	
}

ul.ui-tabs-nav li.ui-state-active a {
	color: #333;
	text-shadow: 0 1px 0 #EEE;
}

ul.ui-tabs-nav.ul-bottom {
	padding:0;
	padding-bottom: 10px;
	margin: 0 auto;
	text-align:center;
	vertical-align:top;
	
}

ul.ui-tabs-nav.ul-bottom li {
    padding-top: 7px;
    vertical-align: top;
	border-radius: 0px ;
}

ul.ui-tabs-nav.ul-bottom li.ui-state-active {
	height: 20px;
	top: -2px;
}
ul.ui-tabs-nav.ul-bottom li.ui-state-active a {
	bottom: 0px;
	height: inherit;
	border-top: 0px;
}

.ui-tabs-panel .wp-tab-content {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
}

.tab-top-nav,
.tab-bottom-nav {
	display: block;
	text-align:left;
	padding:3px;
	position: relative;
	min-height: 30px;
	margin-top:10px;
	margin-bottom:10px;
}

.tab-top-nav a,
.tab-bottom-nav a {
	display: inline-block;
	padding: 1px 8px;
	text-decoration: none;
}
.tab-top-nav a.forward,
.tab-bottom-nav a.forward {
	text-align:right;
	margin-right:0px;
	position: absolute;
	right: 3px;
	top: 3px;
}

div#toolztip.top-tip {
    border-radius: 10px;
    box-shadow: 0 3px 10px #999;
    font: 12px 'Lucida Grande','Segoe UI','Ubuntu','Arial',sans-serif;
    left: -125px;
    margin: 20px;
    position: absolute;
    right: -50px;
    text-shadow: 0 1px 0 #FFF;
/*    top: -100px;*/
	bottom: 12px;
    width: 250px;
    z-index: 200;
	color: #222;
	border: 1px solid #FFF;
	border: 1px solid #FFF;
	background: #FFF;
	background: -moz-linear-gradient(top, #EEEEEE, #D2D2D2, #FFFFFF);
	background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), color-stop(0.5, #D2D2D2), to(#FFFFFF));
	background: -webkit-linear-gradient(top, #EEEEEE, #D2D2D2, #FFFFFF);
	background: -o-linear-gradient(top, #EEEEEE, #D2D2D2, #FFFFFF);
}

div#toolztip.bottom-tip {
     border-radius: 10px;
    box-shadow: 0 3px 10px #999;
     font: 12px 'Lucida Grande','Segoe UI','Ubuntu','Arial',sans-serif;
    left: -125px;
    margin: 20px;
    position: absolute;
    right: -50px;
    text-shadow: 0 1px 0 #FFF;
    top: 12px;
/*	bottom: 12px;*/
    width: 250px;
    z-index: 200;
	color: #222;
	border: 1px solid #FFF;
	background: #FFF;
	background: -moz-linear-gradient(top, #EEEEEE, #D2D2D2, #FFFFFF);
	background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), color-stop(0.5, #D2D2D2), to(#FFFFFF));
	background: -webkit-linear-gradient(top, #EEEEEE, #D2D2D2, #FFFFFF);
	background: -o-linear-gradient(top, #EEEEEE, #D2D2D2, #FFFFFF);
}

#toolztip .toolztitle {
	font-size:14px;
	font-weight: bold;
	position: relative;
	text-align: center;
	padding: 3px 10px;
}

div#toolztip.top-tip .toolzcontent:after {
    border-color: #FFF transparent transparent transparent;
    border-style: solid;
    border-width: 20px 10px 0px 10px;
    bottom: -20px;
    content: "";
    height: 0;
    left: 100px;
    position: absolute;
    width: 0;
}

div#toolztip.bottom-tip .toolztitle:before {
    border-color: transparent transparent #EEE transparent;
    border-style: solid;
    border-width: 0px 8px 15px 8px;
    top: -15px;
    content: "";
    height: 0;
    left: 100px;
    position: absolute;
    width: 0;
}

#toolztip .toolzcontent {
/*	border-top :2px groove #FFF;*/
	padding: 10px;
	padding-top : 2px;
}

#toolztip .toolzcontent p {
	text-align: left;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.wp-tabs {
	position: relative;
}
.cap-icon-link {
	position: absolute;
	top:2px;
	right: 5px;
	opacity: 0.3;
	text-decoration: none;
	
}

.cap-icon-link:hover {
	opacity: 1;
}

/*
 *	WP Accordion CSS styles.
 */

.wp-accordion {
/*	border: 1px solid #F00;*/
	margin: 20px 0;
	
}

.wp-accordion .ui-accordion {
/*	border: 1px solid blue;*/
}

.ui-accordion h3.ui-accordion-header {
	margin: 0;
	margin-bottom: 0px !important;
	margin-top: 2px !important;
	outline: 0;
}

.ui-collapsible h3.ui-collapsible-header {
/*	margin-bottom: 0px !important;*/
	outline: 0;
}

.ui-accordion-content,
.ui-collapsible-content {
	font: 12px/1.5 'Segoe UI', 'Lucida Grande', 'Arial', sans-serif;
	padding: 10px;
}


h3.ui-accordion-header {
	border-radius: 3px;
	cursor : pointer;
}

h3.ui-accordion-header:hover {

}

h3.ui-accordion-header.ui-state-active {
	cursor: default;
}


.ui-collapsible {
	margin-top: 20px;
	margin-bottom: 20px;
}

h3.ui-collapsible-header {
	margin-bottom: 0px !important;
	cursor : pointer;
}

div.ui-collapsible-content {
	margin-bottom:30px;
}

.options-noise {
	background: url('images/options_noise.jpg');
}


/*
 *	Content inside widgets.
 */

/* For google maps. */
.wp-tabs iframe {
	width: 100%;
}

.wp-tabs {
	font-size: 14px;
}
.ui-resizable-se {
    background-image: url("images/resize-se.gif");
    bottom: 1px;
    cursor: se-resize;
    height: 12px;
    right: 1px;
    width: 12px;
	position: absolute;
}


.ui-tabs-panel pre {
	overflow: scroll;
	color: #222 !important;
	white-space: pre-wrap;
}

.ui-accordion-content pre,
.ui-collapsible-content pre {
	white-space : pre-wrap;
}